*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.formulario{
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 5px black;
    margin-left: 150px;
}
.formulario h1{
    margin: 30px 5px 5px 5px;
    text-shadow: 2px 2px 3px black;
    font-size: 32px;
}
.formulario form p{
    display: flex;
    align-items: flex-start;
    margin: 0 10px 0 10px;
    font-size: 20px;
}
.formulario form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.formulario form input{
    width: 340px;
    height: 35px;
    margin: 7px;
    border: solid 2px;
    border-color: rgba(128, 128, 128, 0.571);
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    font-size: 20px;
    padding-left: 10px;
}
.formulario form select{
    width: 354px;
    height: 39px;
    margin: 7px;
    border: solid 2px;
    border-color: rgba(128, 128, 128, 0.571);
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
}
.formulario form button{
    width: 354px;
    height: 39px;
    margin: 7px;
    margin-bottom: 10px;
    border: solid 2px;
    border-color: rgba(87, 7, 7, 0.571);
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    background-color: #c93e27;
}
.formulario p{
    text-align: center;
    margin: 0 10px 20px 10px;
    text-shadow: 2px 2px 3px black;
    font-size: 20px;
}
.formulario form button:hover{
    background-color: #892c1c;
    border-color: rgba(56, 5, 5, 0.571);
}
